/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/03/2016, 19:24:14
    Author     : surrea
*/

html, body {
  background-image: url("C:/Users/Stefani/Documents/NetBeansProjects/StefiU.github.io/imagenes/fondo.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 80%;
}

*{
    margin: 0.5;  /* márgenes podrían meter la pata */
}

a:link   
{   
    text-decoration:none;
    font-family: 'Philosopher', sans-serif; 
    color: white;
    font-size: 3.00ex;
}   

#menu{
    color: white;
    height: 100%;  /* empuja el pie hacia abajo */
}

#txtPpal  {
    height: 83%;  /* empuja el pie hacia abajo */
}

#pieDePagina {
    height: 50px;  
    margin-top: -50px;  
    color: #ffccff;
    text-align: right;
    font-family: 'Indie Flower', cursive;
    font-size: 3.00ex;
}

.titulo{
    font-family: 'Philosopher', sans-serif; 
    color: white;
    font-size: 3.00em;
}

.fuente{
    font-family: 'Philosopher', sans-serif;
    font-size: 1.00em;
 }

.fuenteJuego{
    font-family: 'Philosopher', sans-serif;
    //font-family: 'Merriweather', serif;
    font-size: 20px;
 }
 
 .fuenteGano{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: white;
 } 
 
.resultadosFont{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
 
.centrar{
    text-align: center;
}

.margenSup{
    margin-top: 100px;
}

.cajita {
    width: 90%;
    max-width:1000px;
    margin:auto;
}
article {
	background:rgba(28,8,33,.9);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

article p {
	line-height: 25px;
}
